@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

/* colorcade */

:root {
  color-scheme: light dark;
  --radius-6: 6px;
  --text-line-height: 20px;
}

/* base */

* {
  box-sizing: border-box;
}

body {
  font: 500 100%/1 'DM Sans', system-ui, sans-serif;
  letter-spacing: 0.01em;
}

/* type */

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: clamp(3rem, 10vw, 8rem);
  letter-spacing: -0.05em;
  line-height: 1;
}
h2 {
  font-size: clamp(3rem, 10vw, 8rem);
  letter-spacing: -0.05em;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

/* components */

.button-big {
  background: white;
  border-radius: var(--radius-6);
  cursor: pointer;
  filter: unset !important;
  line-height: var(--text-line-height);
  padding: 14px 20px;
}

.copy-big {
  font-size: 20px;
}

/* utilities */

[data-bg] {
  background: center/cover;
}

/* layout */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

#header {
  padding: clamp(1.5rem, 5vw, 4rem);
}

.inset {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  /* max-width: 80rem; */
  padding: 6rem clamp(1.5rem, 5vw, 4rem);
}

/* homepage */

em {
  font: italic 1em Georgia, serif;
}
#header {
  display: flex;
  flex: 1;
  min-height: 100vh;
}
#header .inset {
  align-items: center;
  border-radius: 2rem;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#header video {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#header p {
  max-width: 30rem;
}

.brandmark,
h1,
#header p {
  filter: invert(1);
}

.brandmark {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  gap: 8px;
  left: 0;
  letter-spacing: -0.04em;
  padding: 1.5rem;
  position: absolute;
  top: 0;
}
.brandmark svg {
  fill: currentColor;
  height: 2rem;
  width: 2rem;
}

.badge {
  backdrop-filter: blur(8px);
  background: #fff1;
  border-radius: var(--text-line-height);
  color: #fff;
  font-size: 14px;
  line-height: var(--text-line-height);
  padding: 12px 1rem;
}
h1 em {
  display: block;
}
